.bloc-logo {
  position: absolute;
  margin-left: 3px;
  width: 130px;
  height: 45px;
  float: left;
}

.bloc-logo .logo-mask {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 130px;
  height: 45px;
  background-size: 130px;
  background-image: url("./images/hacebuche-logo2.jpg");
  text-indent: -9999px;
}

.grey {
  letter-spacing:4px; 
  background-color: #eeeeee;
}

.w3-bar-item {
  font-size: 15px;
}

div .w3-right, nav, header p {
  font-family: 'Courgette', cursive;
}

.close-nav {
  border-bottom-style: solid;
  border-bottom-color:darkgrey;
}

nav span {
  color: red;
  font-family: 'Arvo', serif;
}

.responsive-nav-hidden {
  display: none;
}

.responsive-nav-enabled {
  display: block;
  top: 0;
}

.w3-hover-opacity {
  cursor: pointer;
}

i {
  margin: 5px;
}
